p {
    color: rgb(54, 204, 8);
    font-size: 12pt;
    font-family: arial, "lucida console", sans-serif;
    background-color: #0c0c0c;
  }
                            
th      {
  color:#0f0f0f
}
                            
body {
       background-color: #262626;
     }
                            
tr {
        color: #0f0f0f;
        font-size: 12pt;
        font-family: arial, "lucida console", sans-serif;
    }
tr:nth-child(even) {
    background-color: #f3ede9;
                   }
tr:nth-child(odd) {
    background-color: #90aaf3;
                  }
 tr:nth-last-child(4n) {
      background-color: #0582e7;
      -webkit-text-stroke: 1px rgb(31, 31, 32);
